/* Write your CSS here */
.imageEle {
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  margin: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 160px;
  min-width: 160px;
}
.image {
  height: 100px;
  width: 100px;
  padding-top: 10px;
}

.imageName {
  font-family: Bree serif;
  font-size: 25px;
}
